* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

:root {
  --primary-300: rgba(89, 86, 83, 1);
  --primary-500: rgba(49, 49, 49, 1);
  --primary-700: rgba(31, 31, 31, 1);
  --yellow: rgba(251, 206, 81, 1);
  --red: rgba(245, 73, 50, 1);
  --blue: rgba(48, 87, 162, 1);
  --white: rgba(255, 255, 255, 1);
}

.font-golos {
  font-family: "Golos Text", sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

/* BANNER CONTAINER */
.banner-container {
  padding: 0 72px;
  width: 100%;
  height: 700px;
  background-image: url("./assets/icons/banner-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-content .background-city {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navbar {
  padding-top: 26px;
}

.banner-content {
  width: 542px;
  margin-top: 62px;
}

.banner-content > h1 {
  color: var(--primary-500);
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
}

.banner-content > h1:nth-child(2) {
  text-align: center;
}

.banner-content > h1:nth-child(3) {
  text-align: right;
  margin-bottom: 24px;
}

.banner-content > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: center;
  margin-bottom: 40px;
}

.banner-content div {
  width: 100%;
  gap: 16px;
}

.banner-content div a {
  color: var(--primary-700);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
  text-decoration: none;
  width: 260px;
  height: 72px;
  border-radius: 66px;
  transition: 0.4s;
}

.banner-content div a:last-child {
  border: 2px solid var(--primary-700);
}

.banner-content div a:last-child:hover {
  color: var(--white);
  background-color: var(--primary-700);
} 

.banner-content div a:first-child {
  color: var(--white);
  background-color: var(--primary-700);
}

.banner-content div a:first-child:hover {
  color: var(--primary-700);
  background-color: var(--yellow);
} 

.marquee {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: rgba(245, 73, 50, 1);
  color: white;
  font-size: 20px;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 0;
  position: absolute;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* BANNER CONTAINER */

/* SUPPORT SECTION */
.support-section {
  gap: 64px;
  padding: 100px 0;
}

.support-section-top {
  gap: 64px;
}

.support-section-top > h2 {
  color: var(--primary-500);
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-align: left;
  text-transform: uppercase;
}

.support-section-top > h2 span {
  color: var(--red);
}

.support-section-bottom {
  min-height: 530px;
  display: grid;
  grid-template-columns: 475px 1fr;
  gap: 44px;
}

.support-section-bottom > .support-section-bottom-image-wrap {
  position: relative;
}

.support-section-bottom > .support-section-bottom-image-wrap > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.support-section-bottom > .flex {
  min-width: 700px;
}

.support-section-bottom > .flex h2 {
  color: var(--primary-500);
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.support-section-bottom > .flex h2 span {
  color: var(--red);
}

table {
  border-collapse: collapse;
  margin-bottom: 48px;
}

td {
  color: var(--primary-500);
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid rgba(208, 208, 208, 1);
}

td:first-child {
  border-right: 2px solid rgba(208, 208, 208, 1);
}

tr:last-child td {
  border-bottom: none;
}

tr:first-child td:first-child {
  padding: 0 16px 16px 0;
}

tr:first-child td:last-child {
  padding: 0 0 16px 16px;
}

tr td:first-child {
  padding: 16px 16px 16px 0;
}

tr td:last-child {
  padding: 16px 0 16px 16px;
}

tr:last-child td:first-child {
  padding: 16px 16px 0 0;
}

tr:last-child td:last-child {
  padding: 16px 0 0 16px;
}

.header {
  font-weight: 400;
}

.support-section-bottom > div > a {
  color: var(--blue);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}
/* SUPPORT SECTION */

/* STEPS SECTION */
.steps-section {
  padding: 100px 0;
  gap: 54px;
}

.steps-section-title h1 {
  color: var(--primary-500);
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-align: left;
  text-transform: uppercase;
}

.steps-section-title span {
  color: var(--blue);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.steps-section-title > div {
  gap: 16px;
}

.steps-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.step-item {
  padding: 20px;
  background-color: rgba(233, 222, 212, 1);
  gap: 16px;
  position: relative;
}

.step-item p {
  color: var(--primary-500);
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.step-item img {
  position: absolute;
  bottom: 0;
  right: -70px;
}

.step-number {
  padding: 0 12px;
  height: 36px;
  border-radius: 60px;
  background-color: var(--white);
}

.step-number span {
  color: var(--primary-500);
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
/* STEPS SECTION */

/* Tournament Participants Section */
.participants-section {
  padding: 120px 0 140px;
  gap: 60px;
}

.participants-section-title h2 {
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-align: left;
  text-transform: uppercase;
}

.participants-section-title-controls {
  gap: 14px;
}

.participants-section-title-controls button {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: var(--primary-500);
  transition: 0.4s;
}

.participants-section-title-controls button:hover {
  background-color: var(--yellow);
}

.participants-section-title-controls button:disabled {
  background-color: rgba(214, 214, 214, 1);
}

.participants-section-title-controls p {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.participants-section-title-controls p .perview {
  color: var(--primary-500);
}

.participants-section-title-controls p .total {
  color: var(--primary-300);
}

.participants-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.participant-card {
  padding: 0 37px;
}

.participant-image-wrap {
  width: 320px;
  height: 320px;
  background-color: rgba(233, 222, 212, 1);
  border-radius: 200px;
  overflow: hidden;
  margin-bottom: 28px;
}

.participant-image-wrap img {
  width: 320px;
  height: 320px;
}

.participant-card h4 {
  color: var(--primary-500);
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: center;
  margin-bottom: 6px;
}

.participant-card p {
  color: var(--primary-500);
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.participant-card button {
  color: var(--blue);
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  padding: 0 12px;
  height: 35px;
  border: 1px solid var(--blue);
  border-radius: 62px;
  background: transparent;
  transition: 0.4s;
}

.participant-card button:hover {
  color: var(--white);
  background-color: var(--blue);
}
/* Tournament Participants Section */

/* FOOTER */
footer {
  padding: 40px 72px 72px;
  background-color: rgba(233, 222, 212, 1);
}

footer > .container p {
  color: var(--primary-500);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: justify;
}
/* FOOTER */
